.footer {
	margin: 0 auto;
	
	background-color: #5f9240;
	color: #e3f0e0;
}
.footer__content {
	margin-left: 15px;
	margin-right: 15px;

	display: flex;
	justify-content: space-between;
	align-items: center;
	
	font-family: "Fira Code", sans;	
}
.footer__text {
	max-width: 550px;
}
